{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %} 

{% block body %}

  {# SECTION 1 ----------------------------- #} 
  <div class="section_top_page">
    <div class="section1">
    <div class="carousel-container">
      <div class="carousel-slide" style="background-image: url(../images/bannercardealer2.jpg);"></div>
      
      
      <div class="carousel-slide" style="background-image: url(../images/bannerphoto.jpg);"></div>
      <div class="carousel-slide" style="background-image: url(../images/bannercars2.jpg);"></div>
      <div class="carousel-slide" style="background-image: url(../images/cars1.jpg);"></div>
      {# <div class="carousel-slide" style="background-image: url(../images/bannergirl1.jpg);"></div> #}
      {# <div class="carousel-slide" style="background-image: url(../images/bannerkey.jpg);"></div> #}
      <div class="carousel-slide" style="background-image: url(../images/bannercouple.jpg);"></div>
      <div class="carousel-slide" style="background-image: url(../images/bannerredporsche.jpg);"></div>
    </div>


      <div class="intro">
        <h1>Top gear<br>dealer<h1>
        <div class="buttonss1">
          <button id="btn1s1">New Cars</button>
          <button id="btn2s1">Used Cars</button>
        </div>
      </div>

      {# <div class="intro-img">
      </div> #}
      
    </div>
  </div>

  {# <script>
function refreshOnEntry() {
  // Check if the page was reloaded or freshly loaded
  if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
    console.log("Page was reloaded.");
  } else {
    console.log("Page was not reloaded, refreshing now.");
    // Refresh the page
    window.location.reload();
  }
}
</script> #}

    {# <script>

    document.addEventListener("DOMContentLoaded", function() {
      const slides = document.querySelectorAll(".carousel-slide");
      let currentSlide = 0;

      // Show the first slide immediately
      showSlide(currentSlide);

      function showSlide(n) {
        slides.forEach((slide) => {
          slide.classList.remove("active");
        });
        slides[n].classList.add("active");
      }

      function nextSlide() {
        currentSlide = (currentSlide + 1) % slides.length;
        showSlide(currentSlide);
      }

      // Automatically advance to the next slide every 5 seconds
      setInterval(nextSlide, 5000);

      // Optionally, you can add event listeners to control the carousel with buttons
    });
    
    </script> #}

    {# <script>
      // Reload the page when it's loaded
      window.onload = function() {
          location.reload();
      };
    </script>  #}


  {# end section top page #} 
  









<script>
document.addEventListener("DOMContentLoaded", function() {
  const slides = document.querySelectorAll(".carousel-slide");
  let currentSlide = 0;
  let interval;

  function showSlide(n) {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slides[n].classList.add("active");
  }

  function nextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    showSlide(currentSlide);
  }

  function startCarousel() {
    showSlide(currentSlide);
    interval = setInterval(nextSlide, 5000);
  }

  function stopCarousel() {
    clearInterval(interval);
  }

  // Start the carousel
  startCarousel();

  // Handle visibility changes
  document.addEventListener("visibilitychange", function() {
    if (document.hidden) {
      console.log("Page visible")
      stopCarousel();
    } else {
      console.log("Page non visible")
      startCarousel();
    }
  });

  // Optionally, you can add event listeners to control the carousel with buttons
});
</script>

<style>
  .carousel-slide {
    display: none;
  }

  .carousel-slide.active {
    display: block;
  }
</style>


















  {# SECTION 2.1 ----------------------------- #}

<div class="margins">
 <div class="section2">
 
  <div class="column1"> 
    <div class="txt1">
      <h2>Welcome to AutoCar</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, culpa excepturi voluptatibus expedita harum quas fugiat corrupti maxime id earum provident aliquam consequatur minima corporis ipsam quis aliquid doloremque eveniet rem pariatur dolorem consectetur laboriosam! At eum quibusdam non, maxime consequuntur temporibus dicta, debitis eligendi neque officia deleniti, doloribus tempore quod numquam laboriosam voluptas aut hic. Consequatur nulla harum, aut a quam saepe minus id accusamus, repellendus soluta dolor? Perferendis unde asperiores autem iure sequi odio minus corporis, quidem culpa possimus consectetur ea commodi accusamus delectus animi eligendi blanditiis amet suscipit iusto, consequatur vitae debitis adipisci. Totam repellat animi perspiciatis dolorem pariatur distinctio excepturi sed vel debitis, ipsa labore velit, quos voluptates inventore eligendi? Fugiat laboriosam consequatur placeat deleniti natus?</p>
    </div>  

    <div class="txt4">
      <h2>FAQ</h2>
      {# ACCORDION #}
        <div class="accordion">
          <div class="accordion-header">
            <span class="accordion-text">What is your policy for installed payments?</span>
            <span class="accordion-icon"><i class="fa-solid fa-angle-down" style="color: #ca1400;"></i></span>
          </div>
          <div class="accordion-content">
            <p>Our policy for installed payments involves providing flexible payment options to our customers, allowing them to spread the cost of their purchases over time through installment plans. This enhances affordability and accessibility, empowering customers to make purchases without immediate financial strain.</p>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion-header">
            <span class="accordion-text">Do you offer any warranty or service packages?</span>
            <span class="accordion-icon"><i class="fa-solid fa-angle-down" style="color: #ca1400;"></i></span>
          </div>
          <div class="accordion-content">
            <p>Yes, we offer comprehensive warranty and service packages to provide peace of mind for luxury car buyers, ensuring ongoing support and maintenance for their investment.</p>
          </div>
        </div>

        <div class="accordion">
        <div class="accordion-header">
            <span class="accordion-text">Do you buy second hand cars?</span>
            <span class="accordion-icon"><i class="fa-solid fa-angle-down" style="color: #ca1400;"></i></span>
          </div>
          <div class="accordion-content">
            <p>Absolutely, we purchase high-quality second-hand cars, offering fair prices and hassle-free transactions for sellers.</p>
          </div>
        </div>



        <script>
        // Get all accordion headers
        var accordionHeaders = document.querySelectorAll('.accordion-header');

        // Add click event listener to each accordion header
        accordionHeaders.forEach(function(header) {
          header.addEventListener('click', function() {
            // Toggle the active class to expand/collapse accordion content
            this.classList.toggle('accordion-active');
            var content = this.nextElementSibling;
            if (content.style.display === 'block') {
              content.style.display = 'none';
            } else {
              content.style.display = 'block';
            }
          });
        });
        </script>

        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionHeaders = document.querySelectorAll('.accordion-header');

            accordionHeaders.forEach(function(header) {
                const accordionIcon = header.querySelector('.accordion-icon');
                const accordionContent = header.nextElementSibling;

                header.addEventListener('click', function() {
                    // Toggle the active class to expand/collapse accordion content
                    this.classList.toggle('accordion-active');
                    if (accordionContent.style.maxHeight) {
                        accordionContent.style.maxHeight = null; // Reset the max-height to allow collapsing
                    } else {
                        accordionContent.style.maxHeight = accordionContent.scrollHeight + "px"; // Expand the accordion content
                    }
                    
                    // Toggle the rotation of the accordion icon
                    if (accordionIcon.classList.contains('icon-rotated')) {
                        accordionIcon.style.transform = 'rotate(0deg)';
                        accordionIcon.classList.remove('icon-rotated');
                    } else {
                        accordionIcon.style.transform = 'rotate(180deg)';
                        accordionIcon.classList.add('icon-rotated');
                    }
                });
            });
        });

        </script>

    </div>
   </div>
 

  {# SECTION 2.2 ----------------------------- #}

  <div class="column2">
      <div class="txt2">
        <h2>Driving tests</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere odio impedit architecto. Iusto quasi blanditiis incidunt minus ea quo, quis placeat alias voluptate aut odit aperiam tenetur hic, ab natus repellat cumque, repudiandae nesciunt! Tempore, dolore? Veniam, officiis perspiciatis! Repudiandae aut laborum ipsam aperiam ducimus laboriosam adipisci error dolorum ea dolore, officiis enim velit quisquam reiciendis esse animi iure ut? Mollitia eaque magni consectetur, quasi perspiciatis accusamus temporibus animi sapiente aspernatur deserunt, unde ad laudantium sit voluptates ducimus ea voluptatibus, corrupti delectus rem placeat iure odio aliquam quod. Quia pariatur labore in repudiandae possimus odit numquam minima cupiditate itaque vel, cumque voluptatem molestias voluptate beatae amet facere omnis, impedit suscipit eligendi tempore illum. Voluptate, eius ratione. Qui explicabo dignissimos eos quod velit obcaecati officiis facere et? Corporis adipisci quisquam, quo voluptate numquam explicabo sunt ducimus quod commodi accusantium minus.  </p>
      </div>

      <div class="txt3">
        <h2>Promotions</h2>
        <div class="promotions">

          {# ZOOM ______________________________________________________ #}

          {# <div class="modalddd">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="modalImg" src="images/porsche2.jpg" alt="Modal Image">
            </div>
          </div>

          <img id="thumbnail" src="images/porsche2.jpg" alt="Thumbnail Image" class="thumbnail"> #}

        {# CAROUSEL _______________________________________________________ #}

          <div id="slideshow">
            <img src="{{ asset('images/porsche.jpg') }}" alt="Image 1" class="active">
            <img src="{{ asset('images/porsche2.jpg') }}" alt="Image 2">
            <img src="{{ asset('images/porsche3.jpg') }}" alt="Image 3">
            <img src="{{ asset('images/porsche4.jpg') }}" alt="Image 4">
             {# <img src="{{ asset('images/porsche5.jpg') }}" alt="Image 5"> #}
          </div>

            


            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const interval = 3000;
                    let currentImageIndex = 0;
                    const images = document.querySelectorAll("#slideshow img");

                    function showNextImage() {
                        images[currentImageIndex].classList.remove('active');
                        currentImageIndex = (currentImageIndex + 1) % images.length;
                        images[currentImageIndex].classList.add('active');
                    }

                    // Set initial opacity for the first image
                    images[0].classList.add('active');

                    setInterval(showNextImage, interval);
                });
            </script>


        

        {# _______________________________________________________ #}
 

        {# <div class="txt3_section2_img"></div> #}
          <div class="promotions_description">
            <ul>
              <li>Brand: Porsche GT3</li>
              <li>KM: 122.000</li>
              <li>Owners: 1</li>
              <li>Evaluation: 9.1/10</li>
              <li>Price: EUR 75.000</li>
            </ul>
          </div>
        </div>
        
      </div>
  </div>

 </div>  
</div>



{% endblock %} 
