{% extends 'base.html.twig' %}

{% block title %} #{{ carSolo.id ~" "~ carSolo.slug }}{% endblock %}

{% block body %}

<div class="section_top_page">
  <div class="margins">
    <div class='form'>
        <h1>{{ carSolo.model|title ~" "~ carSolo.horses }}</h1><br>
        {{ form(monForm) }}
            {# Ici c'est une des manières de modifier l'agencement des formulaires #}
            {# {{ form_start(monForm)}} #}
                {# <div class="d-flex">
                    {{ form_row(monForm.title) }} 
                    {{ form_row(monForm.duration) }}
                </div>
                <div class="d-flex">
                    {{ form_row(monForm.createdAt) }}
                    {{ form_row(monForm.updatedAt) }}
                </div> #}
        {# {{ form_end(monForm) }} #}
    </div>
  </div> 
</div>
    {% endblock %}  